@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lexend';
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 6vh;
    background-color: rgb(86, 105, 190);
}

h1 {
    color: white;
    margin-left: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-color: rgb(135, 165, 221);
}

#formArea {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 25rem;
    background-color: rgb(93, 120, 170);
    border-radius: 7px;
}

#formName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6vh;
    background-color: rgb(40, 60, 112);
    border-radius: 7px;
}

h2 {
    color: white;
    font-size: 27px;
}

.inputDados {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding-left: 5px;
    width: 80%;
    height: 5vh;
    border: none;
    border-radius: 10px;
}

.inputDados:focus {
    outline: none;
}

#divDados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    margin-top: 3.5rem;

}

#checkboxArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5vh;
    margin: -10px 0px 2px 0px;
}

#checkboxDiv {
    margin-right: 2px;
}

#showPasswordDiv {
    margin-left: 2px;
    color: white;
    font-size: 0.9rem;
}

#loginButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1.7rem;
    margin-top: 1.5rem;
}

#loginButton {
    width: 4.5rem;
    height: 1.8rem;
    color: white;
    background-color: rgb(40, 60, 112);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#loginButton:active {
    box-shadow: inset 0px 0px 5px rgba(109, 109, 109, 0.623);
    transform: scale(0.99);
}

footer {
    width: 100vw;
    height: 4vh;
    background-color: rgb(86, 105, 190);
}